<template>
<div>
    <h1>Create A Post</h1>
    <form @submit.prevent="AddPost" action="">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for=""> Post Title:</label>
                    <input type="text" class="form-control" v-model="post.title">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Post Body</label>
                    <textarea name="" id="" rows="5" class="form-control">

                    </textarea>
                </div>
            </div>
        </div> <br />
        <div class="form-group">
            <button class="btn btn-primary">
                Create
            </button>
        </div>
    </form>
</div>
</template>

<script>
    export default {
        data() {
            return {
                post: {}
            }
        },

        methods: {
            addPost(){
                console.log(this.post);
            }
        }
    }
</script>