<template>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card card-default">
            <div class="card-header">
                Home Component
            </div>

            <div class="card-body">
                I'm the Home Component component
            </div>
        </div>
    </div>
</div>    
</template>
<script>
    export default {
        
    }
</script>