<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-default">
                <div class="card-header">
                    Index Component
                </div>
                    <!-- https://appdividend.com/2018/11/21/mevn-stack-tutorial-with-example-from-scratch/ -->
                <div class="card-body">
                    I'm an Index component
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>