<template>
  <div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <router-link class="nav-link" to="/">
            Home
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/create">
            Create Post
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/posts">
            Posts
          </router-link>
        </li>
      </ul>
    </nav> <br />
    <transition name="fade">
        <router-view></router-view>
    </transition>
  </div>
</template>

<script>

  export default {
    name: 'app',
    components: {
    }
  }
</script>

<style>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }
  .fade-enter, .fade-leave-active {
    opacity: 0
  }
</style>